body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
/* Navbar */
.navbar {
  height: 5rem;
  background-color: #fff;
}
.nav-link {
  color: #222;
}
/*Icon*/
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
/* Button */
.add-btn,
.edit-btn {
  background-color: #fe424d;
  border: none;
}
/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}

/* Cards */
.listing-card {
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}
/* Card Effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}
/* Map */
#map {
  height: 400px;
  width: 100vh;
}
.maplibregl-popup {
  max-width: 400px;
}
.custom-marker {
  width: 45px;
  height: 45px;
  background-color: #ff385c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.custom-marker:hover {
  transform: scale(1.15);
  background-color: black;
}
.icon {
  font-size: 1.4rem;
  color: white;
}

.btn-search {
  background-color: #fe424d;
  color: #fff;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.btn-search:hover {
  background-color: #fff;
  color: #fe424d;
  border: solid #fe424d;
}
.btn-search i{
  display:inline;
  margin-right: 0.5rem;
}

.search-inp{
  border-radius:25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
}